@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0px;
    padding: 0px;


}

:root {
    --cor001: #013A40;
    --cor002: #025159;
    --cor003: #037F8C;
    --cor004: #04BFBF;
    --cor005: #04C4D9;
}

body {
    background: url(../pictures/celular-praia.jpg);
    font-family: "poppins", sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
   

    color: white;
}

#topo {
    background: #1b7ec54c;
    backdrop-filter: blur (10px);
    -webkit-backdrop-filter: blur(10px);
    
    padding: 1px;
    margin-bottom: 20px;

    
    place-items: center;
    position: sticky;
    top: 0;
        
}

#navbar {
    display: none;
    place-items: center;

    
}

#navbar > a {
    margin: 1px;
    text-align: center;
    color: white;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.629);
    backdrop-filter: blur (10px);
    -webkit-backdrop-filter: blur(10px);
    height: 30px;
    width: 90vw;
    padding: 10px;
    
}

#navbar > a:hover {
    background: rgba(0, 0, 0, 0.347);
    backdrop-filter: blur (10px);
    -webkit-backdrop-filter: blur(10px);
    scale: 1.03;
}



#menu {
    display: grid;
    margin: 10px;
    text-align: center;
    cursor: pointer;
    color: white;
}



h1 {
    text-align: center;
    margin: 15px;
    font-size: 2em;
    text-indent: 0px;
}

section {
    
    padding: 15px;
    background: rgba(0, 0, 0, 0.755);
    backdrop-filter: blur (10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 8px;
    margin: auto;
    width: 75vw;
    display: grid;
    place-items: center;
    text-align: left;
    text-indent: 5px;

    

    
}

main {
    margin-bottom: 40px;
}

section > p {
    padding: 10px;
    
}

#fonte {
    text-decoration: none; 
    color: #04C4D9;
    text-align: center;
    text-indent: 0px;
    
}

#fonte:hover {
    scale: 1.05;
    text-decoration: underline; 
    
}


#tabela {
    display: none;
    margin-top: 70px;
    margin-bottom: 20px;
}

table {
    background-color: #025159;
    border-collapse: collapse;
    margin: 20px;
    width: 300px;
}

tr, td, th {
    margin: 10px;
    text-align: center;
    padding: 10px;
    
}

th, .cidade {
    
    background-color: #013A40;
}

tr {
    background-color: #025159;
    
}
td {
    border: 1px solid #013A40;
    
    
}

#destaque {
    color: rgb(4, 190, 4);
    font-weight: bolder;
    
}

#pior {
    color: rgb(255, 66, 66);
    font-weight: bolder;
}

img {
    width: 50vw;
    max-width: 700px;
    margin: auto;
    margin: 10px;
    border-radius: 10px;
}

.linkGitHub {
    width: 500px;
    height: 100px;

    place-items: center;
    display: grid;


    color: white;
    text-decoration: none;
    font-size: 0.8em;
    margin: 0px;
    padding: 0px;
}


footer {

    color: white;
    padding: 10px;
    
    background: linear-gradient(#04BFBF, #037F8C);

    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.453);

    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;    
    font-size: 1.2em;
    width: 400px;
    max-width: 80vw;

    
}

footer:hover {
    border: 1px solid white;
    transition: 0.5s;
    scale: 1.03;
    background: #04BFBF;
    font-weight: bold;
    cursor: pointer;
    
}

footer:not(:hover) {
    transition: 0.5s;
}

#github {
    width: 60px;

    text-align: left;
    
    margin: 0px;
    padding: 0px;
}

iframe {
    margin: 20px;
    max-width: 50vw;
    max-height: 20vh;
}

ul, li {
    text-align: left;
   
}


